@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #212529;
}

.conteiner{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #343a40;
    color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    gap: 10px;
}

ul, li  {
    list-style: none;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black;
    margin-bottom: 15px;
}

.btn, button{
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    transition: 0.30s ease-in-out;
}

.btn2{
    background: #0077b6;
}

.btn2:hover{
    color: whitesmoke;
}

.btn1:hover{
    color: whitesmoke;
    background: #0077b6;
}

.tecSkills{
    display: flex;
    flex-direction: row;
    gap:35px;
    margin-top: 10px;
    flex-wrap: wrap
}

.list{
    border: 2px solid whitesmoke;
    padding: 5px 10px; 
    border-radius: 5px;
}

.Icons{
    width: 100%;
    display: flex; 
    gap: 25px; 
    margin-top: 10px;
    padding-top: 15px;
    border-top: 1px solid #495057;
}

.Icons,  a{
    color: inherit;
    text-decoration: none;
}

.Icons i {
    font-size: 2em;
    transition: 0.30s ease-in-out;
    cursor: pointer;
    color: whitesmoke;
}

.Icons i:hover {
    color: #0077b6;
    transform: scale(1.15);
}